<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.euswag.eu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeTwo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.InputPhoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainTabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.InputPINActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.FillInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.MyActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.ActivityDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.ShetuanInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.MoreActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.MyShetuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.funct.WriteNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.funct.PressActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.funct.SelectContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.person.AccountPasswordReviseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.CheckActivityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".clipimage.ClipActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.person.ChangePeosonInformationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.funct.FunctionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.ActivityCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.CheckListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DetailsQRcodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.RegisterDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.ParticipateMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.act.InputRegisterCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.ShetuanMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.ManageShetuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.ChangeShetuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.PressAnnounceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.SetManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.ShetuanCollectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.ShetuanRecruitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.RecruitCheckManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.ShetuanPhonelistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.CancelManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.MoveMemberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.DeliverShetuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notification.ShetuanNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notification.ActivityNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notification.SystemNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.shetuan.WriteShetuanNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.notification.PressNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Search2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowSearchActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.shetuan.ShetuanNoticeListActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>